<plugin>
    <name>Sharing File System</name>
    <version>1.0</version>
    <author>Phoenix</author>
    <homePage>http://phoenixtoday.blogbus.com</homePage>
    <email>phoenixtoday@gmail.com</email>
    <description>a plugin for Spark and Openfireto share file</description>
    <class>edu.spark.plugin.FileSystemPlugin</class>
    <minSparkVersion>2.5.8</minSparkVersion>
    <os>Windows</os>
</plugin>