<plugin>
    <name>Sharing File System</name>
    <version>1.0</version>
    <author>Phoenix</author>
    <homePage>http://phoenixtoday.blogbus.com</homePage>
    <email>phoenixtoday@gmail.com</email>
    <description>a plugin for Spark to share file</description>
    <!-- 关键是这里，这里要定义你的Plugin 类 -->
    <class>edu.spark.plugin.FileSystemPlugin</class>
    <!-- 这里定义你使用的Spark 最低版本 -->
    <minSparkVersion>2.5.0</minSparkVersion>
    <os>Windows</os>
</plugin>